<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
<link rel="stylesheet" th:href="@{/style.css}">    
</head>
<body>
	
	<ul>
	  <li><a th:href="@{/sportyshoeshome}">Home</a></li>
	  <li><a th:href="@{/selectproduct}">Order</a></li>
	  <li><a th:href="@{/register}">Register</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">About</a></li>
	  <li style="float:right"><a th:href="@{/adminlogin}">Admin Login</a></li>
	</ul>
	<br><br>
	<div align="center"><h1 th:style="${message}? 'color:#ff9900':''" th:text="${message}"></h1></div>
	<br><br><br><br>
	<div>
	<h2>Thanks for visiting.</h2>
	<h3 align="center">India's most loved Sports Shoe company.</h3>
	</div>
	
	<footer><p>© 2021-2022 - Sporty Shoes Company. All Rights Reserved. The product names are the trademarks of their respective owners.</p></footer>

</body>
</html>