<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select type</title>
<link rel="stylesheet" th:href="@{/style.css}">    
</head>
<body>
	<ul>
	  <li><a th:href="@{/sportyshoeshome}">Home</a></li>
	  <li><a th:href="@{/register}">Register</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">About</a></li>
	  <li style="float:right"><a th:href="@{/adminlogin}">Admin Login</a></li>
	</ul>
    <h1>Sporty Shoes</h1>
    <br>
    <form th:action="@{/getproducts}" th:object="${product}">
        <div class="headingsContainer">
            <h3>Sporty Shoes type</h3>
            <p>Kindly select shoes by type</p>
        </div>

        <div class="form-group" align="center">

            <label for="pbrand">Brand</label><br>
            <select name="brand" id="brand">
            	<option value="brand" disabled>Brand</option>
            	<option value="SPORTY SHOES">SPORTY SHOES</option>
            	<option value="ADIDAS">ADIDAS</option>
            	<option value="REEBOK">REEBOK</option>
            	<option value="NIKE">NIKE</option>
            	<option value="PUMA">PUMA</option>
            	<option value="SKECHERS">SKECHERS</option>
            	<option value="WOODLAND">WOODLAND</option>
            	<option value="FILA">FILA</option>
            </select>
			
			 <br><br>

            <label for="psize">Size</label><br>
            <select name="size" id="size">
            	<option value="size" disabled>Size</option>
            	<option value="6 UK">6 UK</option>
            	<option value="7 UK">7 UK</option>
            	<option value="8 UK">8 UK</option>
            	<option value="9 UK">9 UK</option>
            	<option value="10 UK">10 UK</option>
            	<option value="11 UK">11 UK</option>
            	<option value="12 UK">12 UK</option>
            </select>
            
            <br><br>
            
            <label for="ptype">Type</label><br>
            <select name="type" id="type">
            	<option value="type" disabled>Type</option>
            	<option value="Running">Running</option>
            	<option value="Gym/Training">Gym/Training</option>
            	<option value="Trekking/Hiking">Trekking/Hiking</option>
            	<option value="Cricket">Cricket</option>
            	<option value="Football">Football</option>
            	<option value="Outdoor">Outdoor</option>
            	<option value="Sneakers">Sneakers</option>
            </select>
            
            <br><br>

            <button type="submit">Show Products</button>
            
        </div>
    </form>
    
</body>
</html>
